{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}

<style>
  .container {
    flex-direction: column;
  }

  .form-container {
    width: 90vw;
    align-self: center;
    background-color: white;
    border-radius: 10px;
  }

  .form-container form {
    padding: 1em;
  }

  .input-field label {
    color: black
  }

  .input-field input {
    color: black
  }

  .input-field input[type="text"]::placeholder {
    color: gray;
  }

  .card {
    background-color: black;
  }

  
</style>

    <div class="row">
        <p style="text-align: center;">
          {{current_user.company_name}}
        </p>
    </div>

    <div class="form-container">
      <form class="col s12" method="POST" action="/create_internship">
        
        <div class="row">
          <div class="input-field col s12 m6 l4">
            <input placeholder="Title" name="internship_title" type="text" class="validate">
            <label for="internship_title">Internship Title</label>
          </div>
          <div class="input-field col s12 m6 l4">
            <input placeholder="Location" name="location" type="text" class="validate">
            <label for="location">Location</label>
          </div>      
          <div class="input-field col s12 m6 l4">
            <input placeholder="Start Date" name="start_date" type="text" class="validate">
            <label for="start_date">Start Date</label>
          </div>
          <div class="input-field col s12 m6 l4">
            <input placeholder="Duration" name="duration" type="text" class="validate">
            <label for="duration">Duration</label>
          </div>
          <div class="input-field col s12 m6 l4">
            <input placeholder="Stipend" name="stipend" type="text" class="validate">
            <label for="stipend">Stipend</label>
          </div>
          <div class="input-field col s12 m6 l4" style="display: flex; justify-content: center;">
            <button class="waves-effect waves-light btn-large purple" type="submit" name="action">
              <i class="material-icons right">send</i>Submit</button>
          </div>
        </div> 

      </form>
    </div>

      <div class="row" style="width: 90vw; height: 65vh; align-self: center; margin: 0; overflow-y: scroll; margin-top: 1em;">
        {% for internship in internships %}
        <div class="col s12 m4 l3">
          <div class="card medium">
            <div class="card-content white-text">
              <span class="card-title">{{internship.title}}</span>
              <p>
                <span>Company: {{internship.company_name}}</span> <br>
                <span>Location: {{internship.location}}</span> <br>
                <span>Start Date: {{internship.start_date}}</span> <br>
                <span>Duration: {{internship.duration}}</span> <br>
                <span>Stipend: {{internship.stipend}}</span> <br>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}
