{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
    {% if is_authenticated %}

    <table>
     <thead>
        <tr>
         <th>Internship Title</th>
         <th>Company Name</th>
         <th>Location</th>
         <th>Start Date</th>
         <th>Duration</th>
         <th>Stipend</th>
            </tr>
          </thead>
          <tbody>
    {% for internship in internships %}
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
            
    {% endif %}
{% endblock %}